<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>

<style type="text/css">
table
{
border-collapse:collapse;
}
table, td, th
{
border-top:1px dotted #999;
}
</style>
</head>

<body><table width="600" border="0" align="left" cellpadding="3" cellspacing="3" class="info" style="height: 90px; width: 65%;">
	<tbody>
		<tr>
		  <td><span style="color: rgb(169, 169, 169);"><span style="font-size: 14px;">DOWNLOAD RESUME</span> <br />
          </span> <span style="font-size: 16px;"><strong><a href="http://lacydiamond.com/resume/lacyresume.pdf" target="_blank"><span style="color: rgb(169, 169, 169);">PDF</span></a><span style="color: rgb(169, 169, 169);">  |  </span><a href="http://lacydiamond.com/resume/lacyresume.doc" target="_blank"><span style="color: rgb(169, 169, 169);">WORD</span></a></strong></span></td>
	  </tr>
		<tr>
			<td width="600">
		  <p><a href="/workout.swf" rel="shadowbox;height=400;width=720"><img alt="video" src="/image/promo1.jpg" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 130px; height: 91px; " /></a></p></td>
		</tr>
		<tr>
			<td>
				<span style="color: rgb(169, 169, 169);">Kansas City birthed me, Arkansas raised me and I became an entertainer in Columbia South Carolina,” quotes Lacy Diamond. Lacy Diamond was born in Kansas City, Missouri and moved to a small town in the Northeast corner of Arkansas called Blytheville when he was in middle school. While in Blytheville Lacy focused on basketball, which took him to Columbia, South Carolina as he earned a scholarship to play for Benedict College. </span></td>
		</tr>
		<tr>
		  <td>
				<p>
					<em><strong><italic>{gallery}photos{/gallery}</italic></strong></em><strong><italic></italic></strong></p>
				<div id="myEventWatcherDiv" style="display:none;">
					 </div>
				<div id="myEventWatcherDiv" style="display:none;">
					 </div>
		  </td>
		</tr>
		<tr>
			<td>
				<p style="color: rgb(169, 169, 169);">Represented By:	<br>			
			    Houghton Talent
<br>
919 Collier Road NW
<br>
Atlanta, GA 30318-2533
<br>
(404) 603-9454 |  
(404) 603-9456</p></td>
		</tr>
		<tr>
		  <td valign="top"><a href="http://www.facebook.com/profile.php?id=504710878&sk=info" target="_blank"><span style="color: rgb(169, 169, 169);"><img alt="facebook" src="/image/scb_11.png" style="width: 107px; height: 19px; float: left;" /></span></a><a href="http://twitter.com/#!/Lacy_Diamond" target="_blank"><span style="color: rgb(169, 169, 169);"><img alt="twitter" src="/image/scb_10.png" style="width: 97px; height: 19px; float: left;" /></span></a><a href="http://lacydiamond.com/lb/index.php?option=com_content&view=category&layout=blog&id=2&Itemid=3"><span style="color: rgb(169, 169, 169);"><img alt="blog" src="/image/blog_10.png" style="width: 99px; height: 20px; float: left;" /></span></a></td>
	  </tr>
		<tr>
		  <td valign="top">
			<p><span style="color: rgb(169, 169, 169);"><span style="font-size: 11px;">		  2011©LacyDiamond. All Rights Reserved.

			Website design by: </span></span><span style="font-size: 11px;"><a href="http://www.projectinneed.com/" target="_blank" title="Projectntonio Design Studio"><span style="color: rgb(169, 169, 169);">projectntonio.com</span></a></span></p></td>
	  </tr>
	</tbody>
</table>
<p>
	<span style="display: none;"> </span><span style="display: none;"> </span></p>
<div id="myEventWatcherDiv" style="display:none;">
	 </div>
<div id="myEventWatcherDiv" style="display:none;">
	 </div>
<div id="myEventWatcherDiv" style="display:none;">
	 </div>
<div id="myEventWatcherDiv" style="display:none;">
	 </div>
<div id="myEventWatcherDiv" style="display:none;">
	 </div>
<div id="myEventWatcherDiv" style="display:none;">
	 </div>
<div id="myEventWatcherDiv" style="display:none;">
	 </div>

</body>
</html>
